<div class="card-horizontal input-border">
  <div class="row mb-3 mt-5">
    <div class="col-md-3 d-flex align-items-center">
      <button class="btn btn-primary btn-course-custom" (click)="submitSection()">Add Section</button>
    </div>
  </div>
  <div id="accordion" class="row mb-3 myaccordion" *ngIf="sections.length && !loading">
    <div class="card col-md-12" *ngFor="let section of sections, let i = index">
      <div class="card-header" id="{{section._id}}">
        <div class="row">
          <div class="col-md-11">
            <h3 class="mb-0">
              <button
                class="d-flex align-items-center justify-content-between btn btn-link collapsed btn-collapse"
                data-toggle="collapse"
                [attr.data-target]="'#collapse' + i"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + i"
                style="width: 100%; font-weight: 600"
              >
                {{section.title}}
                <p class="mb-0 font-xs font-weight-500">
                  <span>{{section.totalLecture}} lectures</span>
                </p>
              </button>
            </h3>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <a (click)="submitSection(section)"><i class="fa fa-edit text-success" style="font-size: 130%"></i></a>
            <a (click)="removeSection(section, i)"><i class="fa fa-trash text-danger" style="font-size: 130%"></i></a>
          </div>
        </div>
      </div>
      <div
        id="{{'collapse' + i}}"
        class="collapse"
        [attr.aria-labelledby]="section._id"
        data-parent="#accordion"
        style="transition: all 0.5s ease 0s"
      >
        <div class="row mb-3">
          <div class="col-md-3">
            <button class="btn btn-primary mt-2 ml-2" (click)="submitLecture(i, section._id, courseId)">
              Add Lecture
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between" *ngFor="let lecture of section.lectures, let iLecture = index">
            <div>
              <p class="font-sm"><i class="fa fa-file mr-2"></i>{{lecture?.title}}</p>
            </div>

            <div class="d-flex align-items-center">
              <a (click)="submitLecture(i, section._id, courseId, lecture)"
                ><i class="fa fa-edit text-success mr-1"></i
              ></a>
              <a (click)="removeLecture(i, lecture, iLecture)"><i class="fa fa-trash text-danger"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary" (click)="onTab(2)">Previous</button>
  <button style="margin-left: 1em" type="submit" class="btn btn-primary" (click)="onTab(4)">Next</button>
</div>
