<form #form action="{{paypalLink}}" method="post">
  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="{{payoutEmail}}" />

  <!-- Specify a Buy Now button. -->
  <input type="hidden" name="cmd" value="_xclick" />

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="{{description}}" />
  <input type="hidden" name="amount" value="{{amount}}" />
  <input type="hidden" name="currency_code" value="{{config.currency}}" />
  <input type="hidden" name="cancel_return" value="{{cancelUrl}}" />
  <input type="hidden" name="return" value="{{returnUrl}}" />

  <!-- Display the payment button. -->
  <a (click)="form.submit()" name="submit" class="btn btn-success">Pay via Paypal</a>
  <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
</form>
