<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <div class="wizard" style="margin-top: 1em">
        <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
          <li role="presentation">
            <a
              href="#step1"
              data-toggle="tab"
              aria-controls="step1"
              role="tab"
              (click)="onTabSelect(1)"
              translate
              [ngClass]="{'active': tab === 1}"
              >Basic Info</a
            >
          </li>
          <li role="presentation" [ngClass]="{'active': tab === 2, 'mt-5': checkMobileBrowser}">
            <a href="#goal" data-toggle="tab" aria-controls="goal" role="tab" (click)="onTabSelect(2)" translate
              >Course Goals</a
            >
          </li>
          <li role="presentation" [ngClass]="{'active': tab === 3, 'mt-5': checkMobileBrowser}">
            <a href="#lecture" data-toggle="tab" aria-controls="lecture" role="tab" (click)="onTabSelect(3)"
              >Lecture Details</a
            >
          </li>
          <li role="qa" [ngClass]="{'active': tab === 4, 'mt-5': checkMobileBrowser}">
            <a href="#qa" data-toggle="tab" aria-controls="qa" role="tab" (click)="onTabSelect(4)">Q&A</a>
          </li>
          <li role="presentation" [ngClass]="{'active': tab === 5, 'mt-5': checkMobileBrowser}">
            <a href="#coupon" data-toggle="tab" aria-controls="coupon" role="tab" (click)="onTabSelect(5)" translate
              >Coupon</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content mt-5" id="main_form">
      <div class="tab-pane" role="tabpanel" id="step1" [ngClass]="{'active': tab === 1}">
        <form (submit)="submit(frm)" #frm="ngForm">
          <div class="row">
            <div class="col-md-12 mt-3">
              <label class="custom-radio" translate
                >FREE
                <input
                  type="radio"
                  style="margin-right: 3em; margin-left: 0.5em"
                  name="payment"
                  [value]="true"
                  [(ngModel)]="course.isFree"
                />
                <span class="checkmark"></span>
              </label>
              <label class="custom-radio" translate
                >PAID
                <input
                  type="radio"
                  style="margin-left: 0.5em"
                  name="payment"
                  [value]="false"
                  [(ngModel)]="course.isFree"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Tutor (*)</label>
                <input
                  id="typeahead-template"
                  type="text"
                  class="form-control"
                  name="tutorId"
                  [disabled]="true"
                  [(ngModel)]="course?.tutor && course.tutor.name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Course title (*)</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Enter name"
                  [(ngModel)]="course.name"
                  required
                  #name="ngModel"
                />
                <div *ngIf="name.errors && (name.dirty || name.touched || isSubmitted)">
                  <p [hidden]="!name.errors.required" style="color: red">Please enter course title!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>Price ({{config?.currencySymbol ? config?.currencySymbol : '$'}})</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="{{'Enter price'}}"
                  [(ngModel)]="course.price"
                  name="price"
                  required
                  [value]="course.isFree ? 0 : course.price"
                  #price="ngModel"
                  pattern="[0-9.]{0,8}$"
                  step="any"
                  [disabled]="course.isFree"
                />
                <div *ngIf="price.errors && (price.dirty || price.touched || isSubmitted)">
                  <p [hidden]="!price.errors.required" style="color: red" translate>Please enter course price!</p>
                  <p [hidden]="!price.errors.pattern" class="error" translate>Cannot exceed 8 characters</p>
                </div>
                <div *ngIf="price.value <= 0 && (price.dirty || price.touched || isSubmitted) && !course.isFree">
                  <p style="color: red" translate>Price must be greater than 0!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="course?.tutorId">
              <div class="form-group">
                <label>Categories (*)</label>
                <ng-select
                  [items]="myCategories"
                  multiple="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  [closeOnSelect]="true"
                  name="category"
                  placeholder="Choose category"
                  [(ngModel)]="course.categoryIds"
                  bindValue="originalCategoryId"
                  #categoryId="ngModel"
                  required
                  (change)="onSelectMyCategories($event)"
                >
                </ng-select>
                <div *ngIf="categoryId.errors && (categoryId.dirty || categoryId.touched || isSubmitted)">
                  <p [hidden]="!categoryId.errors.required" style="color: red" translate>Please choose category!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Subjects (*)</label>
                <ng-select
                  [items]="mySubjects"
                  multiple="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  [closeOnSelect]="true"
                  name="subject"
                  placeholder="Choose subjects"
                  [(ngModel)]="course.subjectIds"
                  bindValue="originalSubjectId"
                  #subjectId="ngModel"
                  required
                  (change)="onSelectMySubjects($event)"
                >
                </ng-select>
                <div *ngIf="subjectId.errors && (subjectId.dirty || subjectId.touched || isSubmitted)">
                  <p [hidden]="!subjectId.errors.required" style="color: red" translate>Please choose subject!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Topics (*)</label>
                <ng-select
                  [items]="myTopics"
                  multiple="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  [closeOnSelect]="true"
                  name="topic"
                  placeholder="Choose topic"
                  [(ngModel)]="course.topicIds"
                  bindValue="originalTopicId"
                  #topicId="ngModel"
                  required
                >
                </ng-select>
                <div *ngIf="topicId.errors && (topicId.dirty || topicId.touched || isSubmitted)">
                  <p [hidden]="!topicId.errors.required" style="color: red" translate>Please choose topic!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Grades (*)</label>
                <ng-select
                  [items]="grades"
                  multiple="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  [closeOnSelect]="true"
                  name="grades"
                  placeholder="Choose grades"
                  [(ngModel)]="course.gradeIds"
                  bindValue="_id"
                  #gradeId="ngModel"
                  required
                >
                </ng-select>
                <div *ngIf="gradeId.errors && (gradeId.dirty || gradeId.touched || isSubmitted)">
                  <p [hidden]="!gradeId.errors.required" style="color: red" translate>Please choose grades!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group video-in-form">
                <label>Course introduction video (*)</label> <br />
                <video *ngIf="videoUrl" width="300px" src="{{videoUrl}}" controls></video>
                <br />
                <!-- <small *ngIf="videoSelected.length">{{videoSelected[0].name}} is selected</small> -->
                <app-file-upload [options]="videoOptions"></app-file-upload>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Course main image (*)</label><small class="ml-1"> (Expected size: 320 x 285 pixels)</small><br />
                <img
                  *ngIf="mainImageUrl"
                  width="300px"
                  style="margin-bottom: 10px"
                  src="{{mainImageUrl}}"
                  alt=""
                /><br />
                <!-- <small *ngIf="imageSelected.length">{{imageSelected[0].name}} is selected</small> -->
                <app-file-upload [options]="mainImageOptions"></app-file-upload>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Description</label>
                <quill-editor
                  [(ngModel)]="course.description"
                  placeholder="Enter Text"
                  [modules]="quillConfig"
                  name="bio"
                >
                </quill-editor>
              </div>
            </div>
            <div class="col col-md-12">
              <div class="form-group">
                <button type="submit" [disabled]="uploadingVideo || uploadingImage" class="btn btn-primary">
                  Next step
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" role="tabpanel" id="goal" [ngClass]="{'active': tab === 2}">
        <div class="mt-2" *ngIf="!course._id">Please enter basic information first</div>
        <course-goal (onTabSelect)="onTabSelect($event)" [course]="course" *ngIf="course._id && !loading"></course-goal>
      </div>
      <div class="tab-pane" role="tabpanel" id="lecture" [ngClass]="{'active': tab === 3}">
        <div class="mt-2" *ngIf="!course._id">Please enter basic information first</div>
        <course-lecture
          (onTabSelect)="onTabSelect($event)"
          [course]="course"
          *ngIf="course._id && !loading"
        ></course-lecture>
      </div>
      <div class="tab-pane" role="tabpanel" id="qa" [ngClass]="{'active': tab === 4}">
        <div class="mt-2" *ngIf="!course._id" translate>Please enter basic info first</div>
        <course-QA *ngIf="course._id && !loading" [course]="course" (onTabSelect)="onTabSelect($event)"></course-QA>
      </div>
      <div class="tab-pane" role="tabpanel" id="coupon" [ngClass]="{'active': tab === 5}">
        <div class="mt-2" *ngIf="!course._id">Please enter basic information first</div>
        <course-coupon
          [tutorId]="course.tutorId"
          *ngIf="course._id && !loading"
          [course]="course"
          (onTabSelect)="onTabSelect($event)"
        ></course-coupon>
      </div>
    </div>
  </div>
</div>
