<div class="card-horizontal input-border">
  <form (submit)="submit()" #frm="ngForm">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="form-group mt-2">
          <label translate>All the end of my course, students will be able to</label>
          <ul *ngIf="course.goalCourse.length">
            <li style="list-style: none" *ngFor="let item of course.goalCourse, let i=index">
              <a (click)="removeItem('goalCourse',i)"><i class="fa fa-trash text-danger"></i></a>
              {{item}}
            </li>
          </ul>
          <form class="row">
            <div class="col-md-10">
              <div class="form-group">
                <input
                  type="text"
                  [(ngModel)]="courseGoal.goalCourse"
                  name="goalCourse"
                  class="form-control"
                  placeholder="All the end of my course, students will be able to"
                />
              </div>
            </div>
            <div
              class="col-md-2 d-flex text-right align-items-center justify-content-center"
              style="margin-bottom: 2.2em"
            >
              <button
                class="btn btn-primary"
                [disabled]="!courseGoal.goalCourse.trim()"
                (click)="addItem('goalCourse')"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="form-group">
          <label translate>Who should take this course? Who should not?</label>
          <ul *ngIf="course.whyJoinCourse.length">
            <li style="list-style: none" *ngFor="let item of course.whyJoinCourse, let i=index">
              <a (click)="removeItem('whyJoinCourse',i)"><i class="fa fa-trash text-danger"></i></a>
              {{item}}
            </li>
          </ul>
          <form class="row">
            <div class="col-md-10">
              <div class="form-group">
                <input
                  type="text"
                  [(ngModel)]="courseGoal.whyJoinCourse"
                  name="whyJoinCourse"
                  class="form-control"
                  placeholder="Who should take this course? Who should not?"
                />
              </div>
            </div>
            <div
              class="col-md-2 d-flex text-right align-items-center justify-content-center"
              style="margin-bottom: 2.2em"
            >
              <button
                class="btn btn-primary"
                [disabled]="!courseGoal.whyJoinCourse.trim()"
                (click)="addItem('whyJoinCourse')"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label translate>What will students need to know or do before starting this course?</label>
          <ul *ngIf="course.needToJoinCourse.length">
            <li style="list-style: none" *ngFor="let item of course.needToJoinCourse, let i=index">
              <a (click)="removeItem('needToJoinCourse',i)"><i class="fa fa-trash text-danger"></i></a>
              {{item}}
            </li>
          </ul>
          <form class="row">
            <div class="col-md-10">
              <div class="form-group">
                <input
                  type="text"
                  [(ngModel)]="courseGoal.needToJoinCourse"
                  name="needToJoinCourse"
                  class="form-control"
                  placeholder="What will students need to know or do before starting this course?"
                />
              </div>
            </div>
            <div
              class="col-md-2 d-flex text-right align-items-center justify-content-center"
              style="margin-bottom: 2.2em"
            >
              <button
                class="btn btn-primary"
                [disabled]="!courseGoal.needToJoinCourse.trim()"
                (click)="addItem('needToJoinCourse')"
              >
                Add
              </button>
            </div>
          </form>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="onTab(1)">Previous</button>
          <button style="margin-left: 1em" type="submit" class="btn btn-primary" (click)="onTab(3)">Next</button>
        </div>
      </div>
    </div>
  </form>
</div>
