<div class="row">
  <div class="col col-md-12">
    <p class="total-items"><b>Total currencies: {{count}}</b></p>
    <p class="total-items">Default currency: USD - $</p>
    <div class="card">
      <div class="card-block table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a (click)="sortBy('name', 'desc')">Name</a>
                <span *ngIf="sortOption.sortBy=='name'">
                  <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('symbol', 'desc')">Symbol</a>
                <span *ngIf="sortOption.sortBy=='symbol'">
                  <a (click)="sortBy('symbol', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('symbol', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('exchangeRate', 'desc')">Exchange Rate</a>
                <span *ngIf="sortOption.sortBy=='exchangeRate'">
                  <a (click)="sortBy('exchangeRate', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('exchangeRate', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('isActive', 'desc')">Is Active</a>
                <span *ngIf="sortOption.sortBy=='isActive'">
                  <a (click)="sortBy('isActive', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('isActive', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('createdAt', 'desc')">Created at</a>
                <span *ngIf="sortOption.sortBy=='createdAt'">
                  <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items, let i = index">
              <td>{{item?.name}}</td>
              <td>{{item?.symbol}}</td>
              <td>{{item?.exchangeRate | number}}</td>
              <td>
                <span class="badge badge-warning badge-update" *ngIf="!item?.isActive" (click)="updateActive(item)"
                  >N</span
                >
                <span class="badge badge-success badge-update" *ngIf="item?.isActive" (click)="updateActive(item)"
                  >Y</span
                >
              </td>
              <td>
                <span>{{item?.createdAt | date}}</span>
              </td>
              <td>
                <span class="badge badge-warning badge-update" *ngIf="item?.isDefault">Default</span>
              </td>
              <td>
                <a (click)="update(item)"> <i class="fa fa-pencil"></i> </a>&nbsp;
                <a (click)="remove(item, i)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <button type="button" class="btn btn-primary" (click)="update()">Add new</button>
              </td>
            </tr>
            <tr *ngIf="count > pageSize">
              <td colspan="7">
                <ngb-pagination
                  [collectionSize]="count"
                  [(page)]="currentPage"
                  [pageSize]="pageSize"
                  [maxSize]="5"
                  (pageChange)="query()"
                ></ngb-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
