<div class="row">
  <div class="col col-md-12">
    <p class="total-items"><b>Total coupons: {{count}}</b></p>
    <div class="card">
      <div class="card-block table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a (click)="sortBy('name', 'desc')">Name</a>
                <span *ngIf="sortOption.sortBy=='name'">
                  <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('code', 'desc')">Code</a>
                <span *ngIf="sortOption.sortBy=='code'">
                  <a (click)="sortBy('code', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('code', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('type', 'desc')">Type</a>
                <span *ngIf="sortOption.sortBy=='type'">
                  <a (click)="sortBy('type', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('type', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('type', 'desc')">Value</a>
                <span *ngIf="sortOption.sortBy=='value'">
                  <a (click)="sortBy('value', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('value', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('tutorId', 'desc')">Tutor</a>
                <span *ngIf="sortOption.sortBy=='tutorId'">
                  <a (click)="sortBy('tutorId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('tutorId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('webinarId', 'desc')">Webinar</a>
                <span *ngIf="sortOption.sortBy=='webinarId'">
                  <a (click)="sortBy('webinarId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('webinarId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('courseId', 'desc')">Course</a>
                <span *ngIf="sortOption.sortBy=='courseId'">
                  <a (click)="sortBy('courseId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('courseId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>

              <th>
                <a (click)="sortBy('expiredDate', 'desc')">Expired date</a>
                <span *ngIf="sortOption.sortBy=='expiredDate'">
                  <a (click)="sortBy('expiredDate', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('expiredDate', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('createdAt', 'desc')">Created at</a>
                <span *ngIf="sortOption.sortBy=='createdAt'">
                  <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>Actions</th>
            </tr>
            <tr>
              <td>
                <form class="form-inline">
                  <div class="form-group mb-2" style="margin-right: 4px">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      [(ngModel)]="searchFields.name"
                      placeholder="Enter name"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary mb-2" (click)="query()">Filter</button>
                </form>
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items, let i = index">
              <td>{{item?.name}}</td>
              <td>{{item?.code}}</td>
              <td>{{item?.type}}</td>
              <td>{{item?.value}}</td>
              <td>{{item?.tutor?.name}}</td>
              <td>{{item?.webinar?.name || '-'}}</td>
              <td>{{item?.course?.name || '-'}}</td>
              <td>{{item?.expiredDate | date}}</td>
              <td>
                <span>{{item?.createdAt | date}}</span>
              </td>
              <td>
                <a [routerLink]="['/coupons/update', item._id ]"> <i class="fa fa-pencil"></i> </a>&nbsp;
                <a (click)="remove(item, i)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="count > pageSize">
              <td colspan="7">
                <ngb-pagination
                  [collectionSize]="count"
                  [(page)]="currentPage"
                  [pageSize]="pageSize"
                  [maxSize]="5"
                  (pageChange)="query()"
                ></ngb-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
