<div class="row">
  <div class="col col-md-12">
    <p class="total-items"><b>Total courses: {{count}}</b></p>
    <div class="card">
      <div class="card-block table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a (click)="sortBy('tutorId', 'desc')" translate>Tutor name</a>
                <span *ngIf="sortOption.sortBy=='tutorId'">
                  <a (click)="sortBy('tutorId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('tutorId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('name', 'desc')">Course title</a>
                <span *ngIf="sortOption.sortBy=='name'">
                  <a (click)="sortBy('name', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('name', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('ordering', 'desc')">Total sections</a>
                <span *ngIf="sortOption.sortBy=='toatlSection'">
                  <a (click)="sortBy('toatlSection', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('toatlSection', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th translate>Categories</th>
              <th>
                <a (click)="sortBy('ordering', 'desc')">Price</a>
                <span *ngIf="sortOption.sortBy=='price'">
                  <a (click)="sortBy('price', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('price', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('featured', 'desc')">Is featured?</a>
                <span *ngIf="sortOption.sortBy=='featured'">
                  <a (click)="sortBy('featured', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('featured', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('enabled', 'desc')">Is enabled?</a>
                <span *ngIf="sortOption.sortBy=='enabled'">
                  <a (click)="sortBy('enabled', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('enabled', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>Status</th>
              <th>
                <a (click)="sortBy('createdAt', 'desc')">Created at</a>
                <span *ngIf="sortOption.sortBy=='createdAt'">
                  <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>Actions</th>
            </tr>
            <tr>
              <td>
                <input
                  id="typeahead-template"
                  type="text"
                  class="form-control"
                  [(ngModel)]="tutorId"
                  [ngbTypeahead]="search"
                  [resultTemplate]="rt"
                  [inputFormatter]="formatter"
                  placeholder="Search tutor"
                />
                <ng-template #rt let-r="result" let-t="term">
                  <ngb-highlight [result]="r.name" [term]="t">{{r?.name}}</ngb-highlight>
                </ng-template>
              </td>
              <td>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  [(ngModel)]="searchFields.name"
                  placeholder="Enter name"
                />
              </td>
              <td colspan="1"></td>
              <td>
                <div class="form-group">
                  <ng-select
                    [items]="categories"
                    [hideSelected]="true"
                    multiple="true"
                    bindLabel="name"
                    [closeOnSelect]="true"
                    name="category"
                    placeholder="Choose category"
                    [(ngModel)]="categoryIds"
                    bindValue="_id"
                    #categoryId="ngModel"
                  >
                  </ng-select>
                </div>
              </td>
              <td colspan="3"></td>
              <td>
                <select class="form-control" [(ngModel)]="searchFields.approved">
                  <option selected value="" translate>All status</option>
                  <option value="0" translate>Pending</option>
                  <option value="1" translate>Approved</option>
                </select>
              </td>
              <td colspan="1"></td>
              <td>
                <button type="submit" class="btn btn-primary mb-2" (click)="query()">Filter</button>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items, let i = index">
              <td style="width: 25%">{{item.tutor?.name}}</td>
              <td style="width: 30%">{{item.name}}</td>
              <td>{{item?.totalSection | number}}</td>
              <td style="width: 25%">
                <span *ngFor="let cat of item.categories; let i = index"
                  >{{ cat?.name }}
                  <span *ngIf="i < item.categories.length - 1">, </span>
                </span>
              </td>
              <td>
                {{item?.price| currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' : '1.0' }}
              </td>
              <td>
                <span
                  class="badge badge-warning badge-update"
                  *ngIf="!item.featured"
                  (click)="update(item, 'featured', true)"
                  >N</span
                >
                <span
                  class="badge badge-success badge-update"
                  *ngIf="item.featured"
                  (click)="update(item,'featured', false)"
                  >Y</span
                >
              </td>
              <td>
                <span class="badge badge-success badge-update" *ngIf="!item.disabled" (click)="disable(item)">Y</span>
                <span class="badge badge-warning badge-update" *ngIf="item.disabled" (click)="enable(item)">N</span>
              </td>
              <td style="width: 20%">
                <span class="label label-light-warning" *ngIf="!item?.approved" translate>Pending</span>
                <span class="label label-light-primary" *ngIf="item?.approved" translate>Approved</span>
              </td>
              <td>{{item?.createdAt | date}}</td>
              <td>
                <a [routerLink]="['/courses/preview', item._id ]"> <i class="fa fa-eye"></i> </a>&nbsp;
                <a [routerLink]="['/courses/update', item._id ]"> <i class="fa fa-pencil"></i> </a>&nbsp;
                <a (click)="remove(item, i)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="count > pageSize">
              <td colspan="7">
                <ngb-pagination
                  [collectionSize]="count"
                  [(page)]="currentPage"
                  [pageSize]="pageSize"
                  [maxSize]="5"
                  (pageChange)="query()"
                ></ngb-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
