<div class="card card-body">
  <div class="padding-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading resume-heading">
              <div class="row">
                <div class="col-lg-12">
                  <h3>General information</h3>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Code</div>
                        <div class="col-md-10">
                          <strong>{{item?.code}}</strong>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Tutor</div>
                        <div class="col-md-10">
                          <a [routerLink]="['/tutor/update', item.tutor.id]" *ngIf="item && item.tutor"
                            >{{item?.tutor?.name}}</a
                          >
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Created at</div>
                        <div class="col-md-10">{{item.createdAt | date}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Request To Date</div>
                        <div class="col-md-10">{{item.requestToTime | date}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Total balance</div>
                        <div class="col-md-10">
                          <span class="badge badge-success">
                            {{item?.total | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol'
                            : '1.0'}}
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Commission</div>
                        <div class="col-md-10">
                          {{item?.commission | currency : (config?.currencySymbol ? config?.currencySymbol : '$'):
                          'symbol' : '1.0'}}
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Tutor balance</div>
                        <div class="col-md-10 price-product">
                          {{item?.balance | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol'
                          : '1.0'}}
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Request Attempts</div>
                        <div class="col-md-10">{{item?.requestAttempts}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Status</div>
                        <div class="col-md-10">
                          <select [(ngModel)]="item.status" [disabled]="status!=='pending'">
                            <option value="pending">Pending</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                          </select>
                          <p
                            *ngIf="status === 'pending'&&!item.payoutAccount?.paypalAccount && item.status === 'approved'"
                          >
                            Please payout manually via bank account and update status.
                          </p>
                          <p
                            *ngIf="status === 'pending'&&item.payoutAccount?.paypalAccount && item.status === 'approved'"
                          >
                            Transaction will be automatically updated after you pay via paypal!
                          </p>
                          <div class="form-group" *ngIf="status === 'pending'&&item.status === 'rejected'">
                            <label>Reason(*)</label>
                            <textarea
                              class="form-control"
                              [(ngModel)]="info.rejectReason"
                              name="reason"
                              placeholder="Please enter reason"
                              rows="2"
                              required
                            ></textarea>
                          </div>
                          <div class="form-group" *ngIf="status === 'pending'&& item.status === 'approved'">
                            <label>Note</label>
                            <textarea
                              class="form-control"
                              [(ngModel)]="info.note"
                              name="note"
                              placeholder="Note"
                              rows="2"
                              (keyup)="keyupNote($event)"
                            ></textarea>
                          </div>
                          <div>
                            <button
                              class="btn btn-success .btn-success"
                              *ngIf="status==='pending' && item.status === 'approved' && !item.payoutAccount?.paypalAccount"
                              (click)="approve(item)"
                              type="button"
                            >
                              Approve
                            </button>
                            <app-button-payout
                              *ngIf="status==='pending' && item.status === 'approved' &&item.payoutAccount?.paypalAccount"
                              [requestId]="item?._id"
                              [payoutEmail]="item?.payoutAccount?.paypalAccount"
                              [amount]="item?.balance"
                              [code]="item?.code"
                              [note]="info.note"
                              [config]="config"
                            ></app-button-payout>
                            <button
                              class="btn btn-danger"
                              *ngIf="status==='pending' && item.status === 'rejected'"
                              (click)="reject(item)"
                              type="button"
                            >
                              Reject
                            </button>
                            <p *ngIf="status!=='pending'">
                              Can not change status after payout has been approved/rejected before!
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Note</div>
                        <div class="col-md-10 price-product">{{item?.note}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-2">Reject Reason</div>
                        <div class="col-md-10">{{item?.rejectReason}}</div>
                      </div>
                    </li>
                  </ul>
                  <br />
                  <h3>Payout Account</h3>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">Holder Name</div>
                        <div class="col-md-9">{{item?.payoutAccount?.accountHolderName}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">Paypal email ID</div>
                        <div class="col-md-9">{{item?.payoutAccount?.paypalAccount}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">Account Number</div>
                        <div class="col-md-3">{{item?.payoutAccount?.accountNumber}}</div>
                        <div class="col-md-3">Bank Address</div>
                        <div class="col-md-3">{{item?.payoutAccount?.bankAddress}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">Bank Name</div>
                        <div class="col-md-3">{{item?.payoutAccount?.bankName}}</div>
                        <div class="col-md-3">The International Bank Account Number</div>
                        <div class="col-md-3">{{item?.payoutAccount?.iban}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">Indian Financial System Code</div>
                        <div class="col-md-3">{{item?.payoutAccount?.ifscCode}}</div>
                        <div class="col-md-3">UK Bank Code</div>
                        <div class="col-md-3">{{item?.payoutAccount?.sortCode}}</div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">The American Bankers Association Number</div>
                        <div class="col-md-3">{{item?.payoutAccount?.routingNumber}}</div>
                        <div class="col-md-3">Any Other Local Bank Code</div>
                        <div class="col-md-3">{{item?.payoutAccount?.routingCode}}</div>
                      </div>
                    </li>
                  </ul>
                  <br />
                  <a [routerLink]="['/payout/requests']" class="btn btn-primary">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
