<div class="row">
  <div class="col col-md-12">
    <p class="total-items"><b>Total trasactions: {{count}}</b></p>
    <div class="card filter-box">
      <div class="row">
        <div class="col-md-4">
          <input
            id="typeahead-template"
            type="text"
            class="form-control"
            [(ngModel)]="tutorId"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            (keyup)="onKeyup('tutorId')"
            placeholder="Search tutor"
          />
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t">{{r?.name}}</ngb-highlight>
          </ng-template>
        </div>
        <div class="col-md-4">
          <input
            id="typeahead-template"
            type="text"
            class="form-control"
            [(ngModel)]="userId"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
            (keyup)="onKeyup('userId')"
            placeholder="Search user"
          />
          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t">{{r?.name}}</ngb-highlight>
          </ng-template>
        </div>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="searchFields.targetType" placeholder="Choose enroll type">
            <!-- <option value="" selected disabled>Choose enroll type</option> -->
            <option value="" selected translate>All enroll type</option>
            <option value="webinar" translate>Group Class</option>
            <option value="subject" translate>One to One</option>
            <option value="course" translate>Course</option>
          </select>
        </div>
        <div class="col-md-6 mt-2">
          <input type="text" class="form-control" placeholder="Enter code" [(ngModel)]="searchFields.code" />
        </div>
        <div class="col-md-6 mt-2">
          <select class="form-control" [(ngModel)]="searchFields.status">
            <option value="" selected translate>All status</option>
            <option value="pending" translate>Pending</option>
            <option value="canceled" translate>Canceled</option>
            <option value="progressing" translate>In Progress</option>
            <option value="completed" translate>Completed</option>
            <option value="pending-refund" translate>Pending refund</option>
            <option value="approved-refund" translate>Approved refund</option>
            <option value="refunded" translate>Refunded</option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4 offset-md-4">
          <button class="btn btn-primary btn-block" (click)="query()">Filter</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-block table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <a (click)="sortBy('tutorId', 'desc')" translate>Tutor name</a>
                <span *ngIf="sortOption.sortBy=='tutorId'">
                  <a (click)="sortBy('tutorId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('tutorId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('userId', 'desc')" translate>User name</a>
                <span *ngIf="sortOption.sortBy=='userId'">
                  <a (click)="sortBy('userId', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('userId', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('webinar', 'desc')" translate>Group Class</a>
                <span *ngIf="sortOption.sortBy=='webinar'">
                  <a (click)="sortBy('webinar', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('webinar', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('subject', 'desc')" translate>Subject</a>
                <span *ngIf="sortOption.sortBy=='subject'">
                  <a (click)="sortBy('subject', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('subject', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('course', 'desc')" translate>Course</a>
                <span *ngIf="sortOption.sortBy=='course'">
                  <a (click)="sortBy('course', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('course', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('type', 'desc')">Type</a>
                <span *ngIf="sortOption.sortBy=='type'">
                  <a (click)="sortBy('type', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('type', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('targetType', 'desc')" translate>Enroll type</a>
                <span *ngIf="sortOption.sortBy=='targetType'">
                  <a (click)="sortBy('targetType', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('targetType', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('code', 'desc')" translate>Code</a>
                <span *ngIf="sortOption.sortBy=='code'">
                  <a (click)="sortBy('code', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('code', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('price', 'desc')" translate>Price</a>
                <span *ngIf="sortOption.sortBy=='price'">
                  <a (click)="sortBy('price', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('price', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('commission', 'desc')" translate>Commission</a>
                <span *ngIf="sortOption.sortBy=='commission'">
                  <a (click)="sortBy('commission', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('commission', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('balance', 'desc')" translate>Balance</a>
                <span *ngIf="sortOption.sortBy=='balance'">
                  <a (click)="sortBy('balance', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('balance', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('createdAt', 'desc')" translate>Created at</a>
                <span *ngIf="sortOption.sortBy=='createdAt'">
                  <a (click)="sortBy('createdAt', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('createdAt', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
              <th>
                <a (click)="sortBy('status', 'desc')" translate>Status</a>
                <span *ngIf="sortOption.sortBy=='status'">
                  <a (click)="sortBy('status', 'asc')" *ngIf="sortOption.sortType=='desc'"
                    ><i class="fa fa-caret-down"></i
                  ></a>
                  <a (click)="sortBy('status', 'desc')" *ngIf="sortOption.sortType=='asc'"
                    ><i class="fa fa-caret-up"></i
                  ></a>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!transaction || (transaction && transaction.length === 0)">
              <td translate>There are no results</td>
            </tr>
            <tr *ngFor="let item of transaction, let i = index">
              <td>{{item?.tutor?.name}}</td>
              <td>{{item?.user?.name}}</td>
              <td>{{item?.webinar? item?.webinar?.name : '-'}}</td>
              <td>
                <span *ngIf="item?.tutorSubject?.name">{{item?.tutorSubject?.name}} - </span>{{item?.subject?
                item?.subject?.name : '-'}}
              </td>
              <td>{{item?.course? item?.course?.name : '-'}}</td>
              <td>
                <span class="badge badge-primary" *ngIf="item?.type === 'booking'" translate>Booking</span>
                <span class="badge badge-success" *ngIf="item?.type === 'gift'" translate>Gift</span>
              </td>
              <td>
                <span class="badge badge-success" *ngIf="item?.targetType === 'webinar'" translate>Group Class</span>
                <span class="badge badge-primary" *ngIf="item?.targetType === 'subject'" translate>1 vs 1</span>
                <span class="badge badge-warning" *ngIf="item?.targetType === 'course'" translate>Course</span>
              </td>
              <td>{{item?.code}}</td>
              <td>
                {{item?.price | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' : '1.0'}}
              </td>
              <td>
                {{item?.commission | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' :
                '1.0'}}
              </td>
              <td>
                {{item?.balance | currency : (config?.currencySymbol ? config?.currencySymbol : '$'): 'symbol' : '1.0'}}
              </td>
              <!-- <td>{{item?.startTime | date: 'HH:mm a M/d/yy'}}</td>
              <td>{{item?.toTime | date: 'HH:mm a M/d/yy'}}</td> -->
              <td>
                <span>{{item?.createdAt | date: 'HH:mm a M/d/yy'}}</span>
              </td>
              <td>
                <span class="badge badge-warning" *ngIf="item?.status === 'pending'" translate>Pending</span>
                <span class="badge badge-danger" *ngIf="item?.status === 'canceled'" translate>Canceled</span>
                <span class="badge badge-primary" *ngIf="item?.status === 'progressing'" translate>In Progress</span>
                <span class="badge badge-success" *ngIf="item?.status === 'completed'" translate>Completed</span>
                <span class="badge badge-warning" *ngIf="item?.status === 'pending-refund'" translate
                  >Pending refund</span
                >
                <span class="badge badge-primary" *ngIf="item?.status === 'approved-refund'" translate>
                  Approved refund
                </span>
                <span class="badge badge-success" *ngIf="item?.status === 'refunded'" translate>Refunded</span>&nbsp;
              </td>
              <td>
                <a [routerLink]="['/payment/transaction', item._id ]">
                  <i class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="count > pageSize">
              <td colspan="7">
                <ngb-pagination
                  [collectionSize]="count"
                  [(page)]="currentPage"
                  [pageSize]="pageSize"
                  [maxSize]="5"
                  (pageChange)="query()"
                ></ngb-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
