<div class="modal-header">
  <h4 class="modal-title">Currency</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (submit)="submit(frm)" #frm="ngForm">
    <div class="form-group">
      <label>Select currency</label>
      <!-- <input type="text" [(ngModel)]="currency.name" class="form-control" name="name" required #name="ngModel" /> -->
      <ng-select
        [items]="currencies"
        [hideSelected]="true"
        bindLabel="key"
        [closeOnSelect]="true"
        name="currency"
        placeholder="Select currency"
        (change)="changeCurrency($event)"
        bindValue="key"
        [(ngModel)]="currency.name"
        required
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label>Symbol</label>
      <input
        disabled="true"
        type="text"
        [(ngModel)]="currency.symbol"
        class="form-control"
        name="symbol"
        required
        #name="ngModel"
      />
    </div>
    <div class="form-group">
      <label>Exchange Rate</label>
      <div class="exchange-rate">
        <p>1 USD =</p>

        <input
          type="number"
          [(ngModel)]="currency.exchangeRate"
          class="form-control"
          name="rate"
          required
          #name="ngModel"
        />
        <p>{{currency.name}}</p>
      </div>
    </div>

    <div class="form-group">
      <label>Active? <input type="checkbox" [(ngModel)]="currency.isActive" name="active" /></label>
    </div>

    <div class="form-group">
      <button *ngIf="!currency._id" class="btn btn-primary" type="submit">Create</button>
      <button *ngIf="currency._id" class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</div>
